<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <img src="../../assets/assets.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Introduzione alla Single Page Application sperimentale rivolta al Club A.S.D. ACES OF FREEDOM</h5>
          <p class="card-text">Questa Applicazione ancora altamente in fase di sviluppo viene realizzata sfruttando Angular e Typescript.
            <br>
            Può essere visualizzata sfruttando il Browser su qualunque piattaforma, compreso il PC.
            <br>
            <strong>La visualizzazione è stata progettata per adattarsi su qualunque schermo in modo responsive.</strong>
          </p>
          <p class="card-text"><small class="text-muted">Post del 5/09/2021</small></p>
        </div>
      </div>
  </div>
    <div class="col-sm-12">
        <img src="../../assets/banner2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Funzioni a scopo puramente dimostrativo</h5>
          <p class="card-text">Creare un'App/Piattaforma sfruttando tecnlogie avanzate, è un processo che richiede tempo.
            <br>
            Questo prototipo potrà pertanto essere migliorato nel tempo.
          </p>
          <p class="card-text"><small class="text-muted">Post del 5/09/2021</small></p>
        </div>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  QUALI SONO QUINDI LE NUOVE FUNZIONALITA' IMPLEMENTABILI?
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Un esempio delle future possibili funzionalità:</h5>
      </div>
      <div class="modal-body">
        <ul>
          <li>Una grafica più intuitiva e accessibile</li>
          <li>Una struttura di componenti applicativi più intuitiva e accessibile</li>
          <li>Barre di ricerca</li>
          <li>Implementazione di un database</li>
          <li>Utilizzo di chiamate al server per la creazione di Post, commenti e reazioni.</li>
          <li>Utilizzo del server per gestire la registrazione e l'accesso degli utenti.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ho capito.</button>
      </div>
    </div>
  </div>
</div>
      </div>



