<div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h4>SEZIONE DOWNLOAD</h4>
      </div>
      <div class="card-body bg-dark">
        <h5 class="card-title">Visualizza e scarica la modulistica utile</h5>
        <a href="#" routerLink="/home" class="btn btn-danger">Ritorna alla Home.</a>
      </div>
      </div>
      <h2>SCARICA IL MANUALE DI PRIMO SOCCORSO</h2>
      <button type="button" class="btn btn-warning my-5"><b><a id="ps" href="../../assets/primosocc.pdf">SCARICA</a></b></button>
      <br>
      <hr>
      <br>
      <h2>SCARICA IL MODULO DI SCARICO DI RESPONSABILITA'</h2>
      <button type="button" class="btn btn-warning my-5"><b><a id="ps" href="../../assets/scarico.pdf">SCARICA</a></b></button>
      <br>
      <hr>
      <br>
      <h2>SCARICA L'AUTOCERTIFICAZIONE DI IDONEITA'</h2>
      <button type="button" class="btn btn-warning my-5"><b><a id="ps" href="../../assets/1597360437.docx">SCARICA</a></b></button>
      </div>

