<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">A.S.D. ACES OF FREEDOM</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/eventi">EVENTI</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/iscriviti">PRESENZE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/download">DOWNLOAD</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CONTATTI
          </a>
          <ul class="dropdown-menu bg-dark text-dark" aria-labelledby="navbarDropdownMenuLink">
            <li><a style="color: #3b5998" class="dropdown-item" href="https://www.facebook.com/profile.php?id=100063669635103">FACEBOOK</a></li>
            <li><a style="color: #c13584 ;" class="dropdown-item" href="https://www.instagram.com/aces_of_freedom/">INSTAGRAM</a></li>
            <li><a style="color: #FF0000 ;" class="dropdown-item" href="https://www.youtube.com/channel/UCYKkBQnZ0-dVFajetJwNHJQ">YOUTUBE</a></li>
            <li><a style="color: #db8412 ;" class="dropdown-item" href="http://www.aces-of-freedom.it/">SITO WEB</a></li>
            <li><a style="color: #da0444 ;" class="dropdown-item" href="mailto:aces_of_freedom@libero.it">MAIL DEL CLUB</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
